{% extends "base.html" %}

{% block content %}
	<h1>
		Title: {{ newspaper.title }}
		<a href="{% url 'agency:newspaper_delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'agency:newspaper_update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
	</h1>
	<h5>Published by:</h5>
		{% for publisher in newspaper.publisher.all %}
			<p>{{ publisher.username }} 
				({{ publisher.first_name }} {{ publisher.last_name }})</p>
		{% endfor %}
	<p>{{ newspaper.published_date }}</p>
	<hr>
	<h5>Content:</h5>
	<p>{{ newspaper.content }}</p>
{% endblock %}
 