{% extends "base.html" %}

{% block content %}
	<h1>
	Username: {{ redactor.username }}
	<a href="{% url 'agency:redactor_delete' pk=redactor.id %}" class="btn btn-danger link-to-page">
		Delete
	</a>
	
	<a href="{% url 'agency:redactor_update' pk=redactor.id %}" class="btn btn-secondary link-to-page">
		Update
	</a>
	</h1>
	
	<p><strong>First name:</strong>{{ redactor.first_name }}</p>
	<p><strong>Last name:</strong>{{ redactor.last_name }}</p>
	<p>
		<strong>Years of experience:</strong>
		{{ redactor.years_of_experience }}
	</p>
	
{% endblock %}
